.vscode/**
.vscode-test/**
apache-ant/**
node_modules/**
resources/**
src/**
test/**
test_otherfolder/**
tests/**
*
.gitignore
jsconfig.json
vsc-extension-quickstart.md
.eslintrc.json
webpack.config.js
